{{> message}}
<div class="px-5 pt-3 pb-5">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Image</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Time</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{{#each events}}
			<tr>
				<td>{{name}}</td>
				<td><img style="width:96px;max-height:128px;" src="{{images.[0].url}}"></td>
				<td>{{dates.start.dateTime}}</td>
				<td>{{dates.end.dateTime}}</td>
				<td>
					<form action="{{url}}">
						<button type="submit" class="btn btn-primary">Book Now</button>
					</form>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>