{{> message}}
<div class="container py-5">
	<h1 class="d-inline-block">Saved Fits</h1>
	<a class="float-end btn btn-primary p-2 m-0" href="/addfit">
		<h5 class="p-0 m-0">Add a new fit</h5>
	</a>
	
	<div class="container p-0 m-0 mt-5">
		{{#each fitsList}}
		<div class="m-3" style="width: 200px; display:inline-block; border: 2px solid #c1c1c1;">
			<img class="" style="width: 100%" src="/uploads/{{top}}">
			<img class="" style="width: 100%" src="/uploads/{{outerwear}}">
			<img class="" style="width: 100%" src="/uploads/{{fullbody}}">
			<img class="" style="width: 100%" src="/uploads/{{bottom}}">
			<img class="" style="width: 100%" src="/uploads/{{footwear}}">
			<img class="" style="width: 100%" src="/uploads/{{accessory}}">
		</div>
		{{/each}}
	</div>
</div>