<div class="container p-5">
    <!-- Navbar + Page Title -->
    <h1 class="d-inline-block">Saved Pieces</h1>
	<button class="float-end btn btn-primary p-2 m-0" type="button" data-toggle="collapse" data-target="#addPieceDrawer" aria-expanded="false" aria-controls="addPieceDrawer"><h5 class="p-0 m-0">Add Piece</h5></button>
	<div class="collapse p-5" id="addPieceDrawer">
		<!-- Add Piece Form -->
		<form action="/savedpieces" method="POST" class="row">
			<div class="row pb-3">
				<div class="col">
					<label class="h3">Add piece:</label>
				</div>
				<div class="col-10">
					<input class="form-control mx-0" placeholder="Piece Name" type="text" id="pieceName">
				</div>
			</div>
			<div class="col px-1">
				<!-- Photo Upload -->
				<div class="form-group pt-3">
					<label class="form-input pb-2" for="newPiecePhoto">Upload Photo:</label><br>
					<input class="form-control-file" type="file" id="newPiecePhoto" accept="image/*" required>
					<img class="pt-3" src="https://http.cat/404" style="max-width: 100%">
				</div>
			</div>

			<div class="col-3 px-1">
				<div>
					<div class="form-group pt-3" id="categories">
						<label class="pb-2">Piece Catergory:</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="topRadioButton" name="category" value="top" data-toggle="collapse" data-target="#topSubcat" aria-expanded="false" aria-controls="topSubcat" required>
							<label class="form-check-label" for="topRadioButton">Top</label>
							<div class="collapse" id="topSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="shortSleeveSelect" name="subcategory" value="shortSleeve" required>
									<label class="form-check-label" for="shortSleeveSelect">Short Sleeve</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="longSleeveSelect" name="subcategory" value="longSleeve">
									<label class="form-check-label" for="shortSleeveSelect">Long Sleeve</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="sweaterSelect" name="subcategory" value="sweater">
									<label class="form-check-label" for="sweaterSelect">Sweater</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="bottomRadioButton" name="category" value="bottom" data-toggle="collapse" data-target="#bottomSubcat" aria-expanded="false" aria-controls="bottomSubcat">
							<label class="form-check-label" for="bottomRadioButton">Bottom</label>
							<div class="collapse" id="bottomSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="shortsSelect" name="subcategory" value="shorts" required>
									<label class="form-check-label" for="shortsSelect">Shorts</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="pantsSelect" name="subcategory" value="pants">
									<label class="form-check-label" for="pantsSelect">Pants</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="skirtSelect" name="subcategory" value="skirt">
									<label class="form-check-label" for="skirtSelect">Skirt</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="fullbodyRadioButton" name="category" value="fullbody" data-toggle="collapse" data-target="#fullbodySubcat" aria-expanded="false" aria-controls="fullbodySubcat">
							<label class="form-check-label" for="fullbodyRadioButton">Full-Body</label>
							<div class="collapse" id="fullbodySubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="onepieceSelect" name="subcategory" value="onepiece" required>
									<label class="form-check-label" for="onepieceSelect">One-Piece</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="dressSelect" name="subcategory" value="dress">
									<label class="form-check-label" for="dressSelect">Dress</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="footwearRadioButton" name="category" value="footwear" data-toggle="collapse" data-target="#footwearSubcat" aria-expanded="false" aria-controls="footwearSubcat">
							<label class="form-check-label" for="footwearRadioButton">Footwear</label>
							<div class="collapse" id="footwearSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="sneakersSelect" name="subcategory" value="sneakers" required>
									<label class="form-check-label" for="sneakersSelect">Sneakers</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="bootsSelect" name="subcategory" value="boots">
									<label class="form-check-label" for="bootsSelect">Boots</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="heelsSelect" name="subcategory" value="heels">
									<label class="form-check-label" for="heelsSelect">Heels</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="accessoryRadioButton" name="category" value="accessory" data-toggle="collapse" data-target="#accessorySubcat" aria-expanded="false" aria-controls="accessorySubcat">
							<label class="form-check-label" for="accessoryRadioButton">Accessory</label>
							<div class="collapse" id="accessorySubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="jewelrySelect" name="subcategory" value="jewelry" required>
									<label class="form-check-label" for="jewelrySelect">Jewelry</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="headwearSelect" name="subcategory" value="headwear">
									<label class="form-check-label" for="headwearSelect">Headwear</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="socksSelect" name="subcategory" value="socks">
									<label class="form-check-label" for="socksSelect">Socks</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="eyewearSelect" name="subcategory" value="eyewear">
									<label class="form-check-label" for="eyewearSelect">Eyewear</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="outerwearRadioButton" name="category" value="outerwear" data-toggle="collapse" data-target="#outerwearSubcat" aria-expanded="false" aria-controls="outerwearSubcat">
							<label class="form-check-label" for="outerwearRadioButton">Outerwear</label>
							<div class="collapse" id="outerwearSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="coatSelect" name="subcategory" value="coat" required>
									<label class="form-check-label" for="coatSelect">Coat</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="jacketSelect" name="subcategory" value="jacket">
									<label class="form-check-label" for="jacketSelect">Jacket</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="vestSelect" name="subcategory" value="vest">
									<label class="form-check-label" for="vestSelect">Vest</label>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group pt-3">
						<label class="pb-2">Style:</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="casual">
							<label class="form-check-label" for="casual">Casual</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="formal">
							<label class="form-check-label" for="formal">Formal</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="athletic">
							<label class="form-check-label" for="athletic">Athletic</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="party">
							<label class="form-check-label" for="party">Party</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="warm">
							<label class="form-check-label" for="warm">Warm</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="rain">
							<label class="form-check-label" for="rain">Rain</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="snow">
							<label class="form-check-label" for="snow">Snow</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="fancy">
							<label class="form-check-label" for="fancy">Fancy</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="office">
							<label class="form-check-label" for="office">Office</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3 px-1">
				<div>
					<div class="form-group pt-3">
						<label class="pb-2">Color:</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="red">
							<label class="form-check-label" for="red">Red</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="orange">
							<label class="form-check-label" for="orange">Orange</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="yellow">
							<label class="form-check-label" for="yellow">Yellow</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="green">
							<label class="form-check-label" for="green">Green</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="blue">
							<label class="form-check-label" for="blue">Blue</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="purple">
							<label class="form-check-label" for="purple">Purple</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="black">
							<label class="form-check-label" for="black">Black</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="white">
							<label class="form-check-label" for="white">White</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="gray">
							<label class="form-check-label" for="gray">Gray</label>
						</div>
					</div>

					<div class="form-group pt-3">
						<label class="pb-2">Pattern:</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="plaid">
							<label class="form-check-label" for="plaid">Plaid</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="polka">
							<label class="form-check-label" for="polka">Polka-Dotted</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="camo">
							<label class="form-check-label" for="camo">Camo</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="graphic">
							<label class="form-check-label" for="graphic">Graphic</label>
						</div>
					</div>
				</div>
			</div>

			<input class="btn btn-primary mt-4" type="submit" value="Add" id="submitAdd">
			<input class="btn btn-secondary mt-1" type="reset" value="Cancel" id="cancelAdd" data-toggle="collapse" data-target="#addPieceDrawer" aria-expanded="false" aria-controls="addPieceDrawer">
		</form>
	</div>
    <!-- TODO: use a foreach handlebar to populate with the images of clothes that are uploaded
        in their correct catergories, from database table.
    https://www.geeksforgeeks.org/how-to-add-image-into-dropdown-list-for-each-items/ -->
    <div class="container" style="display: inline-block">
        <!-- Top Dropdown -->
        <div class="container" id="topDrop">
            <button class="button" id="topDropButton" onclick="toggleDropContents('topDropContent')"> Tops </button>
            <br>
            <div class="dropdown-content" id="topDropContent" style="display:none">
                <!-- Loop through each piece in the tops category -->
                {{#each top}}
                    <div class="card">
                        <img src="{{imgFile}}" alt="{{name}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div> <br>

        <!-- Bottoms Dropdown -->
        <div class="container" id="bottomDrop">
            <button class="button" id="bottomDropButton" onclick="toggleDropContents('bottomDropContent')"> Bottoms </button>
            <br>
            <div class="dropdown-content" id="bottomDropContent" style="display:none">  
                <!-- Loop through each piece in the bottoms category -->
                {{#each bottoms}}
                    <div class="card">
                        <img src="{{imgFile}}" alt="{{name}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div> <br>

        <!-- Full-Body Pieces Dropdown -->
        <div class="button" id="fullbodyDrop">
            <button class="dropdown" id="fullbodyDropButton" onclick="toggleDropContents('fullbodyDropContent')"> Full-Body </button>
            <br>
            <div class="dropdown-content" id="fullbodyDropContent" style="display:none"> 
                <!-- Loop through each piece in the fullbody category -->
                {{#each fullbody}}
                    <div class="card">
                        <img src="{{imgFile}}" alt="{{name}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div> <br>

        <!-- Footwear Dropdown -->
        <div class="container" id="shoesDrop">
            <button class="dropdown" id="footwearDropButton" onclick="toggleDropContents('footwearDropContent')"> Footwear </button>
            <br>
            <div class="dropdown-content" id="footwearDropContent" style="display:none">  
                <!-- Loop through each piece in the footwear category -->
                {{#each footwear}}
                    <div class="card">
                        <img src="{{imgFile}}" alt="{{name}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div> <br>
        

        <!-- Accessories Dropdown -->
        <div class="button" id="accessoryDrop">
            <button class="dropbtn" id="accessoryDropButton" onclick="toggleDropContents('accessoryDropContent')"> Accessories </button>
            <br>
            <div class="dropdown-content" id="accessoryDropContent" style="display:none">
                <!-- Loop through each piece in the tops category -->
                {{#each accessory}}
                    <div class="card">
                        <img src="{{imgFile}}" alt="{{name}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Outerwear Dropdown -->
        <div class="button" id="outerwearDrop">
            <button class="dropbtn" id="outerwearDropButton" onclick="toggleDropContents('outerwearDropContent')"> Outerwear </button>
            <br>
            <div class="dropdown-content" id="outerwearDropContent" style="display:none">
                <!-- Loop through each piece in the tops category -->
                {{#each outerwear}}
                    <div class="card">
                        <img src="{{imgFile}}" alt="{{name}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <br><br>
    </div>
    <!-- Adding and Removing Piece Form Buttons -->
    <footer>
        <button class="button" id="addPiece" onclick="toggleVisibility('addPieceForm')"> Add Piece </button>
        <button class="button" id="removePiece" action="/delete" method="GET"> Remove Piece </button>
    </footer>
</div>

<!-- Implementing JS function calls -->
<script>
    /*
        Toggling visibility of add/remove piece forms for savedpieces.hbs
            formId: string -- id of the form that will have its visibility toggled
    */
    function toggleVisibility(formId) {

        var form = document.getElementById(formId);
        var overlay = document.getElementById("overlay");
        var formName = document.getElementById("formName");
        var addButton = document.getElementById("addPiece");
        var removeButton = document.getElementById("removePiece");

        if(form.style.display === "none") {
            form.style.display = "block";
            overlay.style.display = "block";
            addButton.style.display = "none";
            removeButton.style.display = "none";
            // Makes form name legible
            var displayname = formId.replace(/([a-z])([A-Z])/g, '$1 $2');
            formName.innerHTML=displayname.substring(0,1).toUpperCase()+displayname.slice(1);
        } else {
            form.style.display = "none";
            overlay.style.display = "none";
            addButton.style.display = "inline-block";
            removeButton.style.display = "inline-block";
            formName.innerHTML=""; // Clear form name when hiding form
        }
    }

    /*
        Toggles the dropdown of a fits catergory button and displays its contents
            contentId: string -- id of the content that will have its visibility toggled underneath the button
    */
    function toggleDropContents(contentId) {
        const content = document.getElementById(contentId);
        if(content.style.display === "none") {
            content.style.display = "flex-wrap";
        } else {
            content.style.display = "none";
        }
    }
</script>